<footer id="footer">
  {{ text_footer }}<br/>
  {{ text_version }}<br/>
  <a href="https://github.com/oc-plus/oc-plus" target="_blank">{{ text_oc_plus_version }}</a>
</footer>
</div>
<script src="{{ bootstrap }}" type="text/javascript"></script>
</body></html>
